*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,
section h2,
section h3,form button{
    font-family: 'Bungee', sans-serif;
        font-weight: normal
}

body,
input,
textarea {
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 16px 0;
    background-color:rgb(28, 167, 242) ;
    color:#ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    text-decoration: none;
    color: #ecf0f1;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container, 
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container{
    align-items: flex-start;
}
section{
    color:rgb(28, 167, 242) ;

}
section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom: 8px;
}

.my-avatar{
    max-width: 720px;
    width: 100%;
    margin-right: 32px;
}

.container h2{
    color:rgb(28, 167, 242) ;
}

.social-links img{
    width: 24px;
}

#contact .container{
    display: block;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}
.contact-methods .acompanhar{
    margin-right: 480px;
}
form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
}

.social-links li {
    display: inline;
    margin-right: 8px;
    padding-left: 10px;
}
.social-links li a {
    text-decoration: none;
}

section h3{
    margin-bottom: 16px;
}

form button {
    background-color: rgb(3, 158, 230);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(7, 109, 156);
}

input:focus,
textarea:focus {
    outline-color: rgb(3, 158, 230);
}

footer {
    background-color: rgb(3, 158, 230);
    color: white;
    padding: 16px 0;
}

#contact {
    margin-left: 120px;
}